
</div>
</div>
<!--===== ▼▼▼site original LINK FILE▼▼▼ =====-->
<!-- <script type="text/javascript" src="<%= data.cd %>gadget/skrollr/skrollr.min.js"></script> -->
<script type="text/javascript" src="<%= data.cd %>js/common.js"></script>
</body>
</html>