<div class="wrapper">

<div class="header">
	<%- include('_nav-global') %>
<!--============ h1Contents ============-->
<!-- <h1 class="header--ttl"><%= data.title %></h1> -->
</div>
<div class="pageContents">