.c-caption{
	@include fontsize(10,11,11);
	line-height: 1.5em;
	color: $_color-caption;
	font-family: $_font-ja_sans-serif;
	padding: 5vh 30px;
	width: 100%;
	text-align: justify;
	span{
		display: block;
		@include mediaquery(md){
			display: inline;
			padding-left:15px;
			&:first-child{
				padding-left:0;
			}
		}
	}
	
	span::before{
		content:"";
		display:inline-block;
		width:3em;
		margin:0;
		padding:0;
		margin-right:0.1em;
	}
	.floor::before{
		height:1em;
		background:#f0e8d9;
		border:1px solid #999;
	}
	.storage::before{
		height:1em;
		background:#d8d3c0;
		border:1px solid #999;
	}
	.wic::before{
		content:"WIC";
		width:auto;
	}
	.sic::before{
		content:"SIC";
		width:auto;
	}
	.nando::before{
		content:"N";
		width:auto;
	}
	.service::before{
		content:"S";
		width:auto;
	}
}
