<%
var data = {
	cd: './',
	pagetype: 'page',
	basename: 'brand',
	mainname: 'brand',
	title: 'Logo Library',
	desc: '',
	key: ''
};
%>
<%- include(data.cd + 'include/_head', {data:data}) %>
<%- include(data.cd + 'include/_header', {data:data}) %>

<main class="<%- data.mainname %>">
  <article class="list-wrapper">
    <ul class="list-wrapper__inner">
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">SOL-SOL</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">One DNA</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">69</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">Eckhaus Latta	</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">SCRT</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">Olive Clothing</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">Billy!</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">sködia	</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">KNOWLITA</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">Axel ARIGATO</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">sci.fi.fantasy</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">Second/Layer</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">Chinatown Market</a>
      </li>
      <li class="list-wrapper__list">
        <a class="list-wrapper__list--link" href="">CAVEMPT</a>
      </li>
      
    </ul>
  </article>
</main>
<%- include(data.cd + 'include/_footer', {data:data}) %>