<%
var data = {
	cd: './',
	pagetype: 'page',
	basename: 'media',
	mainname: 'media',
	title: 'Logo Library / media',
	desc: '',
	key: ''
};
%>
<%- include(data.cd + 'include/_head', {data:data}) %>
<%- include(data.cd + 'include/_header', {data:data}) %>

<main class="<%- data.mainname %>">
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">medias.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
	<h2 class="media--ttl">media.</h2>
</main>
<%- include(data.cd + 'include/_footer', {data:data}) %>